################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################
/dist
/build
/DecompiledSources
/lib
.vs/
*.user
*.suo
*.yaml
*.txt

[Bb]in/
[Oo]bj/